extends layout

block content
    include header
    article.itemp
      -if(data.length)
        table.table
          tr
            th Id
            th Título
            th Año
            th Puntuacion
            th Poster
            th(colspan="2")
              form(method="GET" action="/agregar")
                input(type="submit", value="Agregar").button.add
          for movie in data
            tr
              th=movie.movie_id
              th=movie.title
              th=movie.release_year
              th=movie.rating
              th
                img.poster(src=movie.image, alt=movie.title)
              th
                form(method="GET" action="/editar/" + movie.movie_id)
                  input(type="submit", value="Editar").button.edit
              th
                form(method="POST" action="/eliminar/#{movie.movie_id}")
                  input(type="button", value="Eliminar", onclick="eliminar(this)").button.delete
      -else
        p.error No existen peliculas en la Base de Datos.
      script.
        function eliminar(input) {
          let deleteOk = confirm('¿Estas seguro de eliminar la película?');
          return deleteOk ? input.parentNode.submit() : false;
        }